@import 'nib'

a, a:link
  cursor pointer

body.framed
  padding-top 0

body
  padding-top 60px
  background whitesmoke
  h1, h2, h3
    small
      color #777

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

.tooltipster-base
  box-sizing content-box

.navbar-brand
  padding 14px 20px

.navbar-inverse
  .navbar-nav > li > a[href="/reset/"]
    color #222
  .navbar-brand, .navbar-nav > li > a
    color #fff
  .navbar-nav > .active > a
    color #428bca
  .navbar-brand:hover, .navbar-nav > li > a:hover,
  .navbar-nav > .active > a:hover
    color #5ad

.jumbotron
  background-color transparent

.reflist
  a > span
    padding 0 5px
  .active
    background-color #428bca
    color white

iframe.teaser
  background white

#instructions
  .instruction
    min-height 147px
  .carousel-control.left, .carousel-control.right
    width 100px
    margin-top -10px

#codeframe
  position relative
  iframe
    position absolute
    top 0
    left 0
    height 100%
    width 100%
    border none
    box-shadow 0 0 10px black

#tframe
  z-index 1

xmp.data
  display:none

code
  background white
  color #8300AD

.btn.btn-highlight
  border 2px solid #428bca

.topright
  position absolute
  top 20px
  right 20px

#codeframe.refcode
  position absolute
  top 0
  right 10px
  left 10px
  bottom 10px

.refleft
  position fixed
  top 80px
  bottom 0
  left 0
  overflow-y scroll

.refright
  position fixed
  top 80px
  bottom 0
  right 0

.reflinks
  padding 16px 0

.gap-right
  margin-right: 10px

#leftnav
  padding-top 10px
  padding-bottom 30px
  position fixed
  top 50px
  left 0
  bottom 0
  width 220px
  overflow-y scroll

#rightpane
  position fixed
  top 50px
  left 220px
  bottom 0
  right 0
  padding 0

code.jumbo, pre.jumbo
  padding 2px 4px
  font-size 30px
  display inline-table
  background white
  border 1px solid silver
  color #8300AD
  white-space pre

  span
    line-height normal

  dfn
    color dimgray
    font-family Arial
    font-size 16px
    text-align center

.indextile
  display inline-table
  box-shadow 0 0 10px gray
  text-align center
  padding 5px
  margin 5px
  background white
  border-radius 13px
  min-height 58px
  width 100%
  span
    display table-cell
    vertical-align middle
    text-align left
  span:first-child
    width 1%
    padding-right 8px
  img
    width 48px
    height 48px
    background white
    border 1px solid silver
    border-radius 8px

.indextile:hover
  box-shadow 0 0 10px black
  background azure

.indextile.active
  background #428bca
  color white

#overlay
  display none
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  background rgba(0,0,0,0.2)
  z-index 2000

.overlay-box-50
  position absolute
  max-height 80%
  min-width 1000px
  max-width 90%
  margin auto
  left 0
  right 0
  height 640px
  bottom 50px

.heavyframe
  border 3px solid black
  box-shadow 0 0 10px black
  height 100%
  width 100%
  background whitesmoke

.closebox
  font-size 30px
  position absolute
  right 3px
  top 0
  padding 5px
  text-shadow 0 0 5px white
  z-index 2

.closebox:hover
  color crimson
  text-shadow 0 0 5px white, 0 0 10px white

.container-margins
  margin-left 20px
  margin-right 20px

.container-margins:before, .container-margins:after
  content ""
  display table

.pencil-icon
  background url(http://pencilcode.net/pencil_16.png)
  padding-left 16px
  background-repeat no-repeat
  background-position center

.large-pencil-icon
  background url(http://pencilcode.net/pencil_32.png)
  padding-left 32px
  background-repeat no-repeat
  background-position center

.transbutton
  background-position-x right
  opacity 1
.transbutton:hover
  opacity 0.7
