@import 'nib'

a, a:link
  cursor pointer

body
  padding-top 60px
  background whitesmoke

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

.tooltipster-base
  box-sizing content-box

#codeframe
  height 60vh
  box-shadow 0 0 10px black
  iframe
    border none

.reflinks
  padding: 10px

code.jumbo, pre.jumbo
  padding 2px 4px
  font-size 36px
  display inline-table
  background white
  border none
  color crimson

  span
    line-height normal

  dfn
    color: dimgray
    font-family Arial
    font-size 18px
    text-align center

.indextile
  display inline-table
  width 160px
  box-shadow 0 0 10px gray
  text-align center
  padding 5px
  margin 5px
  background white
  img
    width 148px
    border 1px solid silver
    margin-bottom 5px

.indextile:hover
  box-shadow 0 0 10px black
  background azure
