@import 'nib'

a, a:link
  cursor pointer

body
  padding-top 60px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

#codeframe
  height 60vh

.reflinks
  padding: 10px

code.jumbo
  font-size 48px
  display inline-table

  span
    line-height normal

  dfn
    color: dimgray
    font-family Arial
    font-size 20px
    text-align center
